<h1 class="flights-index">Flight Booker</h1>

<%= form_with(url: "/flights", method: "get", class: "flights-index flight-search-form") do %>

    <div class= "flights-index form-fields">
        <%= select_tag(:departure_id, options_for_select(@airport_options, params[:departure_id]), prompt: "Departure") %>
        <%= select_tag(:arrival_id, options_for_select(@airport_options, params[:arrival_id]), prompt: "Arrival") %>
        <%= select_tag(:datetime, options_for_select(@datetime_options, params[:datetime]), prompt: "Date") %>
        <%= select_tag(:passengers, options_for_select([1, 2, 3, 4], params[:passengers]), prompt: "Passengers") %>
    </div>

    <%= submit_tag("Search", class: "flights-index submit-button")%>
<% end %>


<% if @flights.count.zero? && params[:commit] == "Search" %>
    <div class="flights-index flight-not-found">
        <h2>Sorry, no flight could be found</h2>
        <p>Please, try other airport or date options</p>
    </div>
<% elsif @flights.count.nonzero? %>
    <%= form_with(url: "/bookings/new", method: "get", class: "flights-index flight-selection-form") do |f| %>
        <h2>Available flights:</h2>
            <div class="flights-index flight-selection-list">
                <%= f.collection_radio_buttons :flight_id, @flights.order(:datetime), :id, :flight_info do |button| %>

                    <label for=<%= "flight_id_#{button.object.id}" %>>
                        <%= button.radio_button required: true %>
                        <div class="flights-index flight-selection-input-info">
                            <div class="flights-index flight-selection-airport-info">
                                <p><%= "From: #{button.object.departure.code}" %></p>
                                <p><%= "To: #{button.object.arrival.code}" %></p>
                            </div>
                            <div><%= "Date: #{button.object.date}" %></div>
                            <div><%= "Departure: #{button.object.time_info}" %></div>
                        </div>
                    </label>

                <% end %>
            </div>

        <%= f.hidden_field :passengers, value: @passengers %>

        <%= submit_tag("Book Flight", class: "flights-index submit-button") %>
    <% end %>
<% end %>
