<h1>Flights</h1>

<%= form_with(url: "/flights", method: "get") do %>

    Departure <br>
    <%= select_tag(:departure_id, options_for_select(@airport_options, params[:departure_id])) %> <br>

    Arrival <br>
    <%= select_tag(:arrival_id, options_for_select(@airport_options, params[:arrival_id])) %> <br>

    Date <br>
    <%= select_tag(:date, options_for_select(@date_options, params[:date])) %> <br>

    Passengers <br>
    <%= select_tag(:passengers, options_for_select([1, 2, 3, 4], params[:passengers])) %> <br>

    <%= submit_tag("Search")%>
<% end %>


<% if @flights.count.zero? && params[:commit] == "Search" %>
    No flight was found from. Please, try other airport or date options.
<% elsif @flights.count.nonzero? %>
    <%= form_with(url: "/bookings/new", method: "get") do |f| %>
        <h2><%= "#{@flights.count} flight#{@flights.count == 1 ? " was" : "s were"} found:"%></h2>
        <% @flights.each do |flight| %>
            <div style="display: flex">
                <%= f.radio_button :flight_id, flight.id, required: true %>
                <div>
                    DEPARTURE: <%= flight.departure.code %> <br>
                    ARRIVAL: <%= flight.arrival.code %> <br>
                    DATE: <%= flight.date %>
                </div>
            </div>
        <% end %>

        <%= f.hidden_field :passengers, value: @passengers %>

        <%= submit_tag("Next") %>
    <% end %>
<% end %>
