<h1>Flights#index</h1>

<%= form_with(url: "/flights", method: "get") do %>

    Departure <br>
    <%= select_tag(:departure_id, options_for_select(@airport_options)) %> <br>

    Arrival <br>
    <%= select_tag(:arrival_id, options_for_select(@airport_options)) %> <br>

    Date <br>
    <%= select_tag(:date, options_for_select(@date_options)) %> <br>

    <%= submit_tag("Search")%>
<% end %> <br>

<%= form_with(url: "/bookings/new", method: "get") do |f| %>
    Results <br>
    <% @flights.each do |flight| %>
        <div>
            <%= f.radio_button :flight_id, flight.id %>
            flight id: <%= flight.id %> <br>
            DEPARTURE: <%= flight.departure.code %> <br>
            ARRIVAL: <%= flight.arrival.code %> <br>
            DATE: <%= flight.date %>
        </div>
    <% end %>

    <%= submit_tag("Book")%>
<% end %>
