<h1 class="flights-index">Flight Booker</h1>

<%= form_with(url: "/flights", method: "get", class: "flights-index flight-search-form") do %>

    <div class= "flights-index form-fields">
        <div>
            <%= label_tag(:departure_id, "Departure") %>
            <br>
            <%= select_tag(:departure_id, options_for_select(@airport_options, params[:departure_id])) %>
        </div>
        <div>
            <%= label_tag(:arrival_id, "Arrival") %>
            <br>
            <%= select_tag(:arrival_id, options_for_select(@airport_options, params[:arrival_id])) %>
        </div>
        <div>
            <%= label_tag(:datetime, "Date") %>
            <br>
            <%= select_tag(:datetime, options_for_select(@datetime_options, params[:datetime])) %>
        </div>
        <div>
            <%= label_tag(:passengers, "Passengers") %>
            <br>
            <%= select_tag(:passengers, options_for_select([1, 2, 3, 4], params[:passengers])) %>
        </div>
    </div>

    <%= submit_tag("Search", class: "flights-index search-button")%>
<% end %>


<% if @flights.count.zero? && params[:commit] == "Search" %>
    No flight was found from. Please, try other airport or date options.
<% elsif @flights.count.nonzero? %>
    <%= form_with(url: "/bookings/new", method: "get") do |f| %>
        <h2><%= "#{@flights.count} flight#{@flights.count == 1 ? " was" : "s were"} found from #{@airport_options.select{|a| a.last.to_s == params[:departure_id].to_s}[0][0]} to #{@airport_options.select{|a| a.last.to_s == params[:arrival_id].to_s}[0][0]} on #{params[:datetime]}"%></h2>

            <div>
                <%= f.collection_radio_buttons :flight_id, @flights.order(:datetime), :id, :time_info do |button| %>
                    <div style="display: flex; margin-bottom: 15px">
                        <%= button.radio_button style: "width: 40px", required: true %>
                        <%= button.label(style: "white-space: pre-wrap; padding-left: 10px") { button.text } %>
                    </div>
                <% end %>
            </div>


        <%= f.hidden_field :passengers, value: @passengers %>

        <%= submit_tag("Next") %>
    <% end %>
<% end %>
