<h1 class="flights-index">Flight Booker</h1>

<%= form_with(url: "/flights", method: "get", class: "flights-index flight-search-form") do %>

    <div class= "flights-index form-fields">
        <div>
            <%= label_tag(:departure_id, "Departure") %>
            <br>
            <%= select_tag(:departure_id, options_for_select(@airport_options, params[:departure_id])) %>
        </div>
        <div>
            <%= label_tag(:arrival_id, "Arrival") %>
            <br>
            <%= select_tag(:arrival_id, options_for_select(@airport_options, params[:arrival_id])) %>
        </div>
        <div>
            <%= label_tag(:datetime, "Date") %>
            <br>
            <%= select_tag(:datetime, options_for_select(@datetime_options, params[:datetime])) %>
        </div>
        <div>
            <%= label_tag(:passengers, "Passengers") %>
            <br>
            <%= select_tag(:passengers, options_for_select([1, 2, 3, 4], params[:passengers])) %>
        </div>
    </div>

    <%= submit_tag("Search", class: "flights-index search-button")%>
<% end %>


<% if @flights.count.zero? && params[:commit] == "Search" %>
    No flight was found from. Please, try other airport or date options.
<% elsif @flights.count.nonzero? %>
    <%= form_with(url: "/bookings/new", method: "get", class: "flights-index flight-selection-form") do |f| %>
        <h2>Available flights:</h2>
            <div class="flights-index flight-selection-list">
                <%= f.collection_radio_buttons :flight_id, @flights.order(:datetime), :id, :flight_info do |button| %>

                    <label for=<%= "flight_id_#{button.object.id}" %>>
                        <%= button.radio_button required: true %>
                        <div class="flights-index flight-selection-input-info">
                            <div class="flights-index flight-selection-airport-info">
                                <p><%= "From: #{button.object.departure.code}" %></p>
                                <p><%= "To: #{button.object.arrival.code}" %></p>
                            </div>
                            <div><%= "Date: #{button.object.date}" %></div>
                            <div><%= "Departure: #{button.object.time_info}" %></div>
                        </div>
                    </label>

                <% end %>
            </div>

        <%= f.hidden_field :passengers, value: @passengers %>

        <%= submit_tag("Next") %>
    <% end %>
<% end %>
