<div class="bookings-new summary">
    <h2>Booking Details</h2>
    <div>
        <p>Departure: <%= @booking.flight.departure.code %></p>
        <p>Arrival: <%= @booking.flight.arrival.code %></p>
    </div>
    <div>
        <p>Date: <%= @booking.flight.date %></p>
        <p>Time: <%= @booking.flight.time_info %></p>
    </div>
    <p>Passengers: <%= params[:passengers] %></p>
</div>

<h2> Passenger informations </h2>
<div>
    <%= form_with model: @booking do |form| %>

            <%= form.fields_for :passengers do |passenger_form| %>
                <div>
                    <%= passenger_form.label :name %>
                    <%= passenger_form.text_field :name, required: true %>
                </div>
                <div>
                    <%= passenger_form.label :email %>
                    <%= passenger_form.email_field :email, required: true %>
                </div>
            <% end %>

        <%= form.submit("Book") %>
    <% end %>
</div>