<h1>Booking</h1>

<div>
    DEPARTURE: <%= @booking.flight.departure.code %> <br>
    ARRIVAL: <%= @booking.flight.arrival.code %> <br>
    DATE: <%= @booking.flight.date %>
</div>

<h2> Passenger informations </h2>
<div>
    <%= form_with model: @booking do |form| %>

            <%= form.fields_for :passengers do |passenger_form| %>
                <div>
                    <%= passenger_form.label :name %>
                    <%= passenger_form.text_field :name, required: true %>
                </div>
                <div>
                    <%= passenger_form.label :email %>
                    <%= passenger_form.email_field :email, required: true %>
                </div>
            <% end %>

        <%= form.submit("Book") %>
    <% end %>
</div>