<h1>New Booking</h1>

<div>
    flight id: <%= @booking.flight.id %> <br>
    DEPARTURE: <%= @booking.flight.departure.code %> <br>
    ARRIVAL: <%= @booking.flight.arrival.code %> <br>
    DATE: <%= @booking.flight.date %>
</div>

<div>
    <%= form_with model: @booking do |form| %>

            <%= form.fields_for :passengers do |passenger_form| %>
                <div>
                    <%= passenger_form.label :name %>
                    <%= passenger_form.text_field :name %>
                </div>
            <% end %>

        <%= form.submit %>
    <% end %>
</div>