<div class="bookings-new summary">
    <h2>Booking Details</h2>
    <div>
        <p>Departure: <%= @booking.flight.departure.code %></p>
        <p>Arrival: <%= @booking.flight.arrival.code %></p>
    </div>
    <div>
        <p>Date: <%= @booking.flight.date %></p>
        <p>Time: <%= @booking.flight.time_info %></p>
    </div>
    <p>Passengers: <%= params[:passengers] %></p>
</div>

<div class="bookings-new passenger-details">
    <h2> Passenger Details </h2>
    <%= form_with model: @booking do |form| %>
    <% passenger_number = 0 %>
            <%= form.fields_for :passengers do |passenger_form| %>
                <div class="bookings-new passenger">
                    <% passenger_number += 1 %>
                    <p>Passenger <%= passenger_number %></p>
                    <%= passenger_form.text_field :name, required: true, placeholder: "Name" %>
                    <%= passenger_form.email_field :email, required: true, placeholder: "Email" %>
                </div>
            <% end %>

        <%= form.submit("Book Flight", class: "submit-button") %>
    <% end %>
</div>