<h1>Booking overview</h1>

<div>
    Departure: <%= @booking.flight.departure.code %> <br>
    Arrival: <%= @booking.flight.arrival.code %> <br>
    Date: <%= @booking.flight.date %>
    <br> <%= @booking.flight.time_info %>
</div>

<div>
    Passengers:
    <ul>
        <% @booking.passengers.each do |passenger| %>
            <li><%= passenger.name %> / <%= passenger.email %></li>
        <% end %>
    </ul>
</div>